{% extends "base.html.twig" %}

{% block title %}Inscription{% endblock %}

{% block body %}
<h1>Inscription</h1>

{{ form_start(monFormulaire) }}

{{ form_row(monFormulaire.email) }}

{{ form_row(monFormulaire.password) }}

{{ form_row(monFormulaire.adresse) }}

{{ form_row(monFormulaire.telephone) }}

{{ form_row(monFormulaire.ville) }}

{{ form_row(monFormulaire.code_postale) }}

{{ form_row(monFormulaire.inscription, { 'label': 'Inscription' }) }}

{{ form_end(monFormulaire) }}

{% endblock %}