{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block stylesheets %}

  <style>
    body, html {
      height: 100%;
    }

    .carousel-item {
      /* Half height */
      height: 60vh;
    }

    .radius {
      border-radius: 30px;
    }

    .carousel-item .texte {
      position:absolute;
      color:white;
      font-size:1.5em;
      text-shadow: 0.1em 0.1em 0.2em black;
    }

    .carousel-item .texte1 {
      top: 2rem;
      left: 3rem;
      width:45%;
    }

    .carousel-item .texte2 {
      top: 2rem;
      left: 18rem;
      text-align: center;
      width:45%;
    }
    .carousel-item .texte3 {
      top: 2rem;
      right: 3rem;
      text-align: right;
      width:25%;
    }
    
    a {
      text-decoration: none;
    }

    .imgProduit {
      width: 90%; 
      display: block;
      border-radius: 20px;
      margin: 0 auto;
    }

    span {
      color: #30336b;
    }
  </style>

{% endblock %}

{% block body %}

<!-- Navigation CATEGORIES -->

<ul class="nav nav-tabs mt-2">
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#femmes">Femmes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#hommes">Hommes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#enfants">Enfants</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#maison">Maison</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#medias">Multimédias/loisirs</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#autre">Autre</a>
  </li>
</ul>

<!-- End Navigation CATEGORIES -->

<!-- Carousel -->

<div id="carouselExampleSlidesOnly" class="carousel slide mt-3" data-ride="carousel">
  <div class="carousel-inner radius">
    <div class="carousel-item active">
        <div class="texte texte1">" - This object has already been loved once. "</div>
        <img src="https://cdn.pixabay.com/photo/2016/05/28/00/06/gift-1420830_1280.jpg" class="d-block w-100" alt="MainGift1">
    </div>
    <div class="carousel-item">
      <div class="texte texte2">" This object has already been loved once. "</div>
      <img src="https://cdn.pixabay.com/photo/2019/12/03/07/34/gift-4669449_1280.jpg" class="d-block w-100" alt="MainGift2">
    </div>
    <div class="carousel-item">
      <div class="texte texte3">" This object has already been loved once. "</div>
      <img src="https://cdn.pixabay.com/photo/2017/12/05/05/34/gifts-2998593_1280.jpg" class="d-block w-100" alt="MainGift3">
    </div>
  </div>
</div>

<div class="container">
  <div class="row">

      {% for produit in produits %}

          <div class="col-4 card mt-3">
              <h4 class="card-header">{{ produit.titre }}</h4>
              <div class="card-footer text-muted">
              Ajouté le {{ produit.CreeLe ? produit.CreeLe|date('d-m-Y')}}
              </div>
              <img class="imgProduit mt-4" src="uploads/{{ produit.image }}" alt="Card image">
              <div class="card-body">
                <p class="card-text">{{ produit.description }}</p>
                <p class="card-subtitle text-muted">
                  <span class="badge badge-pill badge-info">Catégorie : {{ produit.categorie }}</span>
                </p>
              </div>
              <div class="card-body">
                <h6>Valeur estimée : {{ produit.valeur }} €</h6>
              </div>
              <div class="row justify-content-center">
                <div class="col-12-lg-6">
                   <button type="button" class="btn btn-primary mb-2"><a href="{{ path('fiche_produit', {'id': produit.id}) }}" class="text-white">Voir le produit</a></button>
                </div>
              </div>
          </div>

      {% endfor %}

  </div>
</div>

{# <div class="container main mt-1">
  <div class="row">
    <div class="col-8">
      <blockquote class="blockquote text-left m-5">
          <p class="mb-0 text-white">This object has already been loved once.</p>
          <footer class="blockquote-footer text-white">Someone famous in <cite title="Source Title text-white">Source Title</cite></footer>
      </blockquote>
    </div>
  </div>
</div> #}

<!-- End Carousel -->

{% endblock %}