{% extends "base.html.twig" %}


{% block body %}
{% if edition %}
<h1>Modifier l'annonce</h1>
{% else %}
<h1>Déposer un annonce</h1>
{% endif %}

{{ form_start(monFormulaire) }}

{{ form_row(monFormulaire.titre) }}

{{ form_row(monFormulaire.description) }}

{{ form_row(monFormulaire.categorie) }}

{{ form_row(monFormulaire.valeur) }}

{{ form_row(monFormulaire.image) }}

{% if edition %}

{{ form_row(monFormulaire.ajouter, { 'label': 'modifier' }) }}

{% else %}

{{ form_row(monFormulaire.ajouter, { 'label': 'Ajouter' }) }}

{% endif %}


{{ form_end(monFormulaire) }}

{% endblock %}