<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ title }}{% endblock %}</title>
        <link rel="stylesheet" href="https://bootswatch.com/4/sketchy/bootstrap.min.css">
        {% block stylesheets %}
            <style>

                .navbar-nav {
                    display: flex;
                    justify-content: flex-end;
                    width: 30rem;
                }

                #search {
                
                }  
            </style>
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{{ path('home') }}">SwapGift</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
                aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarColor02">

                <ul class="navbar-nav mr-auto">
                    {% if is_granted('ROLE_USER') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item {% if mainNavLogin is defined %}active{% endif %}">
                        <a class="nav-link" href="{{ path('app_login') }}">Login</a>
                    </li>
                    <li class="nav-item {% if mainNavRegistration is defined %}active{% endif %}">
                        <a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
                    </li>
                    {% endif %}
                </ul>
                
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>

        <div class="container">
            <div class="row mt-5">
                <div class="col">
                    <!-- Ma barre de navigation -->
                    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                        <div class="container">
                            <a class="navbar-brand" href="#">SwapGift</a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse justify-content-end" id="navbarColor01">
                                <form class="form-inline my-2 my-lg-0">
                                    <input id="search" class="form-control mr-sm-2" type="text" placeholder="Search">
                                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                                </form>
                                <ul class="navbar-nav">
                                    <li class="nav-item active mr-3">
                                        <a class="nav-link btn btn-outline-secondary" href="#">S'inscrire <span class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="nav-item mr-3">
                                        <a class="nav-link btn btn-outline-secondary" href="#">Se connecter</a>
                                    </li>
                                    <li class="nav-item mr-3">
                                        <a class="nav-link btn btn-info" href="{{ path('form') }}">Déposer une annonce</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">               
                
                </div>
            </div>
        </div>
        {% block javascripts %}{% endblock %}

    </body>
</html>


